.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sudoku-container{
  width: 80vh;
  height: 80vh;

  aspect-ratio: 1/1;

  min-height: 500px;
  min-width: 500px;

  border: 1px solid black;
}

#grid {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Cell {
  box-sizing: border-box;

  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: indianred;
  border: 1px solid black;
  font-size: 60%;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.Cell span:hover{
  background: #282c34;
  cursor: default;
  user-select: none;
}

.Cell.collapsed{
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  font-size: 1.8em;
}
.Cell.collapsed span{
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.Cell.collapsed span:hover{
  background: inherit;
}